* {
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
    color: red;
    background-color:antiquewhite
}

img {
    width: auto;
    height: 500px;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    background-color: brown;
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: white;
}
